<div class="container">
  <!-- choose month -->
  <div class="submenu">
    <span>Last Month</span>
    <span> | </span>
    <span>This Month</span>
    <span> | </span>
    <span>Next Month</span>
  </div>
  <!-- show jars percent -->
  <div class="jarPercent row">
      <div class="col-md-2">
        <img src="assets/jar.png" title="jar" alt="jar"/>
        <p>Neccessities</p>
      </div>
      <div class="col-md-2">
        <img src="assets/jar.png" title="jar" alt="jar"/>
        <p>Education</p>
      </div>
      <div class="col-md-2">
        <img src="assets/jar.png" title="jar" alt="jar"/>
        <p>Play</p>
      </div>
      <div class="col-md-2">
        <img src="assets/jar.png" title="jar" alt="jar"/>
        <p>Long time saving</p>
      </div>
      <div class="col-md-2">
        <img src="assets/jar.png" title="jar" alt="jar"/>
        <p>Give</p>
      </div>
      <div class="col-md-2">
        <img src="assets/jar.png" title="jar" alt="jar"/>
        <p>Freedome Financial</p>
      </div>
  </div>
  <!-- detail of each day -->
  <div>
    
  </div>
</div>