<!-- choose month -->
<div class="submenu">
  <span>Last Month</span>
  <span> | </span>
  <span>This Month</span>
  <span> | </span>
  <span>Next Month</span>
</div>
<div class="container">
  <!-- show jars percent -->
  <div class="jarPercent">
      <div class="row">
        <img class="col-md-2" src="assets/jar.png" title="jar" alt="jar"/>
        <img class="col-md-2" src="assets/jar.png" title="jar" alt="jar"/>
        <img class="col-md-2" src="assets/jar.png" title="jar" alt="jar"/>
        <img class="col-md-2" src="assets/jar.png" title="jar" alt="jar"/>
        <img class="col-md-2" src="assets/jar.png" title="jar" alt="jar"/>
        <img class="col-md-2" src="assets/jar.png" title="jar" alt="jar"/>
      </div>
      <div class="row">
        <span class="col-md-2">Neccessities</span>
        <span class="col-md-2">Education</span>
        <span class="col-md-2">Play</span>
        <span class="col-md-2">Long time saving</span>
        <span class="col-md-2">Give</span>
        <span class="col-md-2">Freedome Financial</span>
      </div>
  </div>
  <!-- detail of each day -->
  <div class="moneyDay">
    <div class="overview row">
      <span class="day col-md-8">14 Monday</span>
      <span class="totalOfDayAdd col-md-2">500000</span>
      <span class="totalOfDaySubtract col-md-2">10000</span>
    </div>
    <div class="detail">
      <div class="row">
        <span class="col-md-8">Education</span>
        <span class="col-md-4 add">50000</span>
      </div>
      <div class="note">
        Note:
      </div>
    </div>
  </div>
</div>