<div>
  <!-- chart is here -->
  <div>
      <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;">
        <!-- <div class="canvasjs-chart-container" style="text-align: left; position: relative; cursor: auto;"> -->
          <!-- <canvas width="1174" height="740" class="canvasjs-chart-canvas" style="width: 587px; height: 370px; position: absolute;">
          </canvas>
          <canvas width="1174" height="740" class="canvasjs-chart-canvas" style="width: 587px; height: 370px; position: absolute; cursor: default; -webkit-tap-highlight-color: transparent;">
          </canvas> -->
          <!-- <div class="canvasjs-chart-toolbar" style="border: 1px solid transparent; border-image: none; top: 1px; right: 1px; position: absolute;">
          </div> -->
          <!-- <div class="canvasjs-chart-tooltip" style="border-radius: 0px; transition:left 0.1s ease-out, bottom 0.1s ease-out; left: 238px; height: auto; bottom: -151px; display: block; position: absolute; z-index: 1000; pointer-events: none; box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);">
            <div style="background: rgba(255, 255, 255, 0.9); margin: 0px; padding: 5px; border-radius: 0px; border: 1px solid rgb(79, 129, 188); border-image: none; width: auto; height: auto; text-align: left; color: black; text-indent: 0px; font-family: Trebuchet MS,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-weight: normal; white-space: nowrap; min-width: 50px; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); -ms-user-select: none;">
              <span style="color:#4F81BC;">
                Google:
              </span>
              &nbsp;&nbsp;79.45%
            </div>
          </div> -->
        <!-- </div> -->
      </div>
  </div>
  <!-- setting is here -->
  <div class="setting">
    <div class="row">
      <span class="col-md-6">Neccessities</span>
      <span class="col-md-1">
        <mat-icon>add_circle</mat-icon>
      </span>
      <span class="col-md-4">25%</span>
      <span class="col-md-1">
          <mat-icon>remove_circle</mat-icon>
      </span>
    </div>
    <hr/>

    <div class="row">
      <span class="col-md-6">Education</span>
      <span class="col-md-1">
        <mat-icon>add_circle</mat-icon>
      </span>
      <span class="col-md-4"></span>
      <span class="col-md-1">
          <mat-icon>remove_circle</mat-icon>
      </span>
    </div>
    <hr/>

    <div class="row">
      <span class="col-md-6">Play</span>
      <span class="col-md-1">
        <mat-icon>add_circle</mat-icon>
      </span>
      <span class="col-md-4"></span>
      <span class="col-md-1">
          <mat-icon>remove_circle</mat-icon>
      </span>
    </div>
    <hr/>

    <div class="row">
      <span class="col-md-6">Long time saving</span>
      <span class="col-md-1">
        <mat-icon>add_circle</mat-icon>
      </span>
      <span class="col-md-4"></span>
      <span class="col-md-1">
          <mat-icon>remove_circle</mat-icon>
      </span>
    </div>
    <hr/>

    <div class="row">
      <span class="col-md-6">Give</span>
      <span class="col-md-1">
        <mat-icon>add_circle</mat-icon> 
      </span>
      <span class="col-md-4"></span>
      <span class="col-md-1">
          <mat-icon>remove_circle</mat-icon>
      </span>
    </div>
    <hr/>

    <div class="row">
      <span class="col-md-6">Freedom Financial</span>
      <span class="col-md-1">
        <mat-icon>add_circle</mat-icon>
      </span>
      <span class="col-md-4"></span>
      <span class="col-md-1">
          <mat-icon>remove_circle</mat-icon>
      </span>
    </div>
    <hr/>
  </div>
</div>
